# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are: Python ,R and SQL

# Some of the commonly used libraries used by Data Scientists include: Pandas , Numpy and SciPy.

#|Numbers | Data Science Tools |
#|1| | Tableau |
#|2| |Python |
#|3| |SQ L|

# Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

52
28
480
3.3333333333333335

In [13]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 // 60
hours

3

# Objectives: Python,R and SQL

# Author: RAKESH JOSHI